@page {
	size: A4;
}

@font-face {
	font-family: 'comfortaa';
	src: url('.fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'ebrima';
	src: url('./fonts/ebrima.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'ebrima', sans-serif;
	font-size: 11pt;
	font-weight: 100;
	text-decoration: none;
}

a {
	color: #ffffffff;
}

h1,
h2,
h3,
h5,
h6 {
	letter-spacing: 1mm;
}

h1 {
	font-size: 36pt;
}

h2 {
	font-size: 19pt;
}

h3 {
	font-size: 16pt;
}

h4 {
	font-size: 12pt;
}

.light {
	font-weight: 600 !important;
}

.bold {
	font-weight: 600 !important;
}

.bolder,
h4 {
	font-weight: 800 !important;
}

li {
	margin: 0.5mm 0 0.5mm 5mm;
}

.separator {
	height: 1mm;
	width: 13mm;
	margin: 2mm 0 2mm;
}

nav .separator {
	background-color: #ffffffff;
}

section.main .separator,
header .separator {
	background-color: #436d9bff;
}

.separator-long {
	margin: 5mm 0;
	width: auto;
}

body {
	height: 297mm;
	width: 210mm;
	background-color: #e0e0e0ff;
	color: #ffffffff;
}

/* HEADER */
header {
	background: top 30% center/135% url('./img/background.jpg');
	height: 80mm;
	width: 210mm;
}

header > div {
	background-color: #00000050;
	backdrop-filter: blur(3px);
	height: inherit;
	width: inherit;
}

header h4 {
	letter-spacing: 0.5mm;
}

#title-content {
	height: inherit;
	margin: auto 0 auto 50.5mm;
	text-align: center;
	display: inline-block;
	padding: 3mm 5mm 5mm;
	vertical-align: middle;
}

img#photo {
	width: 50mm;
	position: absolute;
	left: 0;
	bottom: 25mm;
}

.icon-small {
	width: 6mm;
	vertical-align: middle;
	filter: invert(1);
	fill: #436d9bff !important;
}

#title {
	height: 55mm;
}

#about {
	display: flex;
	background-color: #436d9b90;
	backdrop-filter: blur(50px);
	height: 25mm;
	padding: 0 8mm;
	align-items: center;
}

#about p {
	font-size: 12pt;
	text-align: justify;
}
/* /HEADER */

main {
	display: flex;
	width: inherit;
	height: calc(297mm - 80mm);
}

nav {
	width: calc(72.5mm - (4mm * 2));
	display: inline-block;
	background-color: #436d9bff;
	padding: 4mm;
}

nav article p {
	margin-top: 3mm;
}

article:not(:first-child),
.detail:not(:first-child) {
	margin-top: 6.5mm;
}

.detail.first-detail {
	margin-top: 0 !important;
}

#contact-informations ul {
	list-style-type: none;
	margin-left: -6mm;
}

#languages-names {
	column-width: 50mm;
}

#languages td.language {
	min-width: 20mm;
}

article {
	width: auto;
}

/* SECTION */

section.main {
	width: calc(210mm - 72.5mm - (4mm * 2));
}

section.main {
	background-color: #ffffffff;
	color: #436d9bff;
	padding: 4mm;
}

section.main article {
	width: calc(210mm - 72.5mm - (4mm * 2));
}

section.main .detail > div {
	display: flex;
	justify-content: space-between;
}

section.main p {
	text-align: justify;
	text-justify: distribute;
}
/* /SECTION */

.experience-header {
	align-items: flex-end;
}

.company {
	max-width: 77mm;
}

.date {
	width: 25mm;
	text-align: left;
}

.clients {
	width: 107.5mm;
	text-align: right;
}

.environnement {
	margin-top: 1.75mm;
}

h4.company {
	text-align: right;
}

/* FOOTER ¤/
footer {
	height: calc(20mm- 0pt);
	background-color: #ffffffff;
	display: flex;
	justify-content: space-between;
	border-top: #436d9bff solid 1pt;
}

footer img {
	display: inline;
	max-height: calc(16mm - 1pt);
	margin: 1mm 5mm;
}


/* /FOOTER */

@media print {
	header {
		background: top 30% center/135% url('./img/background-print.jpg');
	}
}
